<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
<form action="http://localhost/web/eleven_day/index.php" method="post" >
	<div class="form-group">
		<label for="">用户名</label>
		<input name="uname" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label for="">密码</label>
		<input name="upwd" type="text" class="form-control">
	</div>
	<div class="form-group">
		<input type="hidden" name="control" value="user">
		<input type="hidden" name="action" value="doReg">
		<input type="submit" class="btn btn-primary">
	</div>
</form>
</body>
</html>